---
import ProjectLayout from '@/layouts/ProjectLayout.astro';
import { projectApi } from '@/api/project';
import { ListProjectIdentities } from '@/components/ProjectIdentities/ListProjectIdentities';

const { currentUser } = Astro.locals;
if (!currentUser) {
  return Astro.redirect('/login');
}

const { projectId } = Astro.params as { projectId: string };

const projectClient = projectApi(Astro);
const { response: project, error: projectError } =
  await projectClient.getProject(projectId);
---

<ProjectLayout
	title={project?.name || projectError?.message || 'Project'}
	project={{
		id: project?.id,
		name: project?.name,
		isConfigurationComplete: project?.isConfigurationComplete,
	}}
	projectError={projectError}
	projectId={projectId}
	currentUser={currentUser}
>
	<div class="mx-auto max-w-3xl py-12">
		<ListProjectIdentities projectId={projectId} client:load />
	</div>
</ProjectLayout>
