---
import ProjectLayout from '@/layouts/ProjectLayout.astro';
import { projectApi } from '@/api/project';
import { ProjectDashboard } from '@/components/ProjectDashboard/ProjectDashboard';

const { currentUser } = Astro.locals;
if (!currentUser) {
	return Astro.redirect('/login');
}

const { projectId } = Astro.params as { projectId: string };

const projectClient = projectApi(Astro);
const { response: project, error: projectError } =
	await projectClient.getProject(projectId);

const days = parseInt(Astro.url.searchParams.get('d') || '10');
---

<ProjectLayout
	title={project?.name || projectError?.message || 'Project'}
	project={{
		id: project?.id,
		name: project?.name,
		isConfigurationComplete: project?.isConfigurationComplete,
	}}
	projectError={projectError}
	projectId={projectId}
>
	<div class="mx-auto max-w-3xl py-12">
		<ProjectDashboard projectId={projectId} days={days} client:load />
	</div>
</ProjectLayout>
