---
import Layout from '../layouts/Layout.astro';
import { db } from '../db';

const users = await db.query.users.findMany();

console.log('-'.repeat(20));
console.log('Users: ', users);
console.log('-'.repeat(20));
---

<Layout title='Tiny Mail'>
  <main class='mx-auto my-8 max-w-2xl px-4'>Hello</main>
</Layout>
