---
import { EmailLoginForm } from '../components/AuthenticationFlow/EmailLoginForm';
import AuthLayout from '../layouts/AuthLayout.astro';

const { currentUserId } = Astro.locals;
if (currentUserId) {
  return Astro.redirect('/');
}
---

<AuthLayout title="Login">
	<div class="px-5">
		<div
			class="mx-auto flex flex-col items-start justify-start pb-28 pt-10 sm:max-w-[400px] sm:items-center sm:justify-center sm:pt-20"
		>
			<div class="mb-2 text-left sm:mb-5 sm:text-center">
				<h1 class="mb-2 text-3xl font-semibold sm:mb-5 sm:text-5xl">Login</h1>
				<p class="mb-3 text-base leading-6 text-zinc-400">
					Welcome back! Let's take you to your account.
				</p>
			</div>

			<EmailLoginForm client:load />

			<div class="mt-6 text-center text-sm text-zinc-400">
				Don't have an account?{' '}
				<a
					href="/signup"
					class="font-semibold text-zinc-100 underline underline-offset-2 hover:underline"
				>
					Sign up
				</a>
			</div>
		</div>
	</div>
</AuthLayout>
