---
import AuthLayout from '../layouts/AuthLayout.astro';
import { TriggerVerifyAccount } from '../components/AuthenticationFlow/TriggerVerifyAccount';

const code = Astro.url.searchParams.get('code');
if (!code) {
  return Astro.redirect('/login');
}

const { currentUserId } = Astro.locals;
if (currentUserId) {
  return Astro.redirect('/');
}
---

<AuthLayout title='Verify account' noIndex={true}>
  <div class='container mx-auto py-16'>
    <TriggerVerifyAccount code={code} client:load />
  </div>
</AuthLayout>
