---
import AuthLayout from '@/layouts/AuthLayout.astro';
import { ResetPasswordForm } from '@/components/AuthenticationFlow/ResetPasswordForm';

const { currentUserId } = Astro.locals;
if (currentUserId) {
  return Astro.redirect('/');
}

const { resetPasswordCode } = Astro.params;
if (!resetPasswordCode) {
  return Astro.redirect('/login');
}
---

<AuthLayout title="Reset Password">
	<div class="px-5">
		<div
			class="mx-auto flex flex-col items-start justify-start pb-28 pt-10 sm:max-w-[400px] sm:items-center sm:justify-center sm:pt-20"
		>
			<div class="mb-2 text-left sm:mb-5 sm:text-center">
				<h1 class="mb-2 text-3xl font-semibold sm:mb-5 sm:text-5xl">
					Reset Password
				</h1>
				<p class="mb-3 text-base leading-6 text-zinc-400 text-balance">
					Enter your new password and confirm password to reset your password.
				</p>
			</div>

			<ResetPasswordForm resetCode={resetPasswordCode} client:load />
		</div>
	</div>
</AuthLayout>
