---
import Layout from '../../layouts/Layout.astro';
import { ProjectForm } from '../../components/Projects/ProjectForm';

const { currentUser } = Astro.locals;
if (!currentUser) {
	return Astro.redirect('/login');
}
---

<Layout title="Projects | mly.fyi">
	<div class="mx-auto max-w-sm py-12">
		<h2 class="mb-1 text-xl font-medium">Create Project</h2>
		<p class="mb-4 text-sm text-zinc-500">
			Fill the details below to get started
		</p>
		<ProjectForm client:load />
	</div>
</Layout>
